body {
    background: #e2e2e2 !important;
}
.banner{
    width: 100%;
    height: 100vh;
    background: url("../images/bg-8.jpg");
    color:darkslateblue;
    background-size: cover;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.profile-image {
    float: left;
    margin-left: 125px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
    background-color: blue;
}