<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Online Food Ordering System </title>


</head>
<body>

<!--header section-->

<section >


    <div class="row mt-5">
       <div class="col-6">
           <h1 class="text-center">Nothing to worry about with Quickeat</h1>
           <p class="custom mx-3 my-4">Welcome to Quickeat, the ultimate solution for all your food ordering needs. With our efficient and user-friendly food ordering system, you can say goodbye to any worries and enjoy a hassle-free experience.

               At Quickeat, we understand the importance of convenience and promptness when it comes to satisfying your cravings. Our platform is designed to make the process of ordering food quick, simple, and reliable, ensuring that you can focus on what truly matters – enjoying delicious meals.

               Not only does Quickeat offer a seamless ordering experience, but it also provides additional features that enhance your overall satisfaction. From customizable preferences and special requests to secure payment options, we strive to personalize your food journey and cater to your unique needs.</p>
       </div>

        <div class="col-6">
            <img src="https://bslthemes.com/html/quickeat/assets/img/illustration-4.png"
                 alt="">
        </div>

    </div>



    <div class="row mt-5">
        <div class="col-6">
            <img class="mx-3 my-5" src="https://bslthemes.com/html/quickeat/assets/img/illustration-5.png"
                 alt="">
        </div>
        <div class="col-6">
            <h1 class="text-center">Our mission is to save you time</h1>
            <p class="custom mx-3 my-4">Our mission is simple: to save you valuable time when it comes to online food ordering. We understand that in today's fast-paced world, time is a precious commodity, and we aim to make your life easier by streamlining the entire process.

                With our efficient food ordering system, you can skip the hassle of searching for menus, making phone calls, and waiting in long queues. Our user-friendly platform enables you to browse through a wide selection of restaurants and eateries, all in one place. You can easily compare options, explore menus, and make your selection with just a few clicks.</p>
        </div>

    </div>



<div class="row mt-5">

    <div class="col-3">
        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbyi5KDCaQUzc8qAS6s-yyh6cG6BuC95NJPw&usqp=CAU" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title">Free Delivery</h1>
                <p class="card-text">Cras fermentum odio eu feugiat pretium nibh ipsum. Ut faucibus pulvinar elementum consequat integer enim neque volutpat.</p>
            </div>
        </div>
    </div>

    <div class="col-3">

        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL8VDUrnnejlcEw-7vbZPLgDNVpIbgUCIl6g&usqp=CAU" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title">Save Your Time</h1>
                <p class="card-text">Vulputate dignissim suspendisse in est ante in nibh mauris. Pretium nibh ipsum consequat nisl vel pretium lectus quam id.</p>
            </div>
        </div>

    </div>

    <div class="col-3">
        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-fMB0CcjZnu8vBNwKjrltK19n5RpwL1b_zQ&usqp=CAU" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title">Regular Discounts</h1>
                <p class="card-text">Nec tincidunt praesent semper feugiat nibh. Feugiat in ante metus dictum. Sapien nec sagittis aliquam malesuada bibendum arcu.</p>
            </div>
        </div>

    </div>

    <div class="col-3">

        <div class="card mx-auto" style="width: 18rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3Hia074Ei5Od7ccF871OU31rI8fongyKs7w&usqp=CAU" alt="Card image cap">
            <div class="card-body">
                <h1 class="card-title">Variety Food</h1>
                <p class="card-text">Molestie a iaculis at erat pellentesque. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl.</p>
            </div>
        </div>
    </div>

</div>


    <div class="mt-5"></div>
    <div class="mt-5"></div>
    <div class="mt-5"></div>

<div class="mx-auto">
<h1 class="text-center">Our Team</h1>
    <p class="text-center">Enim lobortis scelerisque fermentum dui faucibus. Tempor commodo ullamcorper a lacus vestibulum sed arcu non. Magna ac placerat vestibulum lectus mauris.</p>

</div>
    <div class="row mt-5">
        <div class="col-4">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="https://chefclubdhakahome.files.wordpress.com/2019/05/tony7755109801519956930.jpg" alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title">Mr. Tony Khan</h1>
                    <p class="card-text">Figures in the Hotel and Culinary industry internationally and in Bangladesh. Mr. Tony Khan hails from Khulna, he started his career in Singapore some 37 years ago and graduated from Sydney, Australia.</p>
                    <a href="https://bd.linkedin.com/in/tony-khan-culinary-institute-and-hotel-management-0133bb213" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="https://chefclubdhakahome.files.wordpress.com/2020/08/img_20200809_19244519702735.jpg" alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title">Mohammad AliSous</h1>
                    <p class="card-text">Mohammad AliSous Chef at Biman Bangladesh Flight Catering.He is working with his full spirits and enjoy it very much. Additionally,he is one the member of Bangladesh Chef Association.</p>
                    <a href="https://chefclubdhaka.home.blog/2020/08/09/mohammad-ali-sous-chef-at-bangladesh-biman/" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mx-auto" style="width: 18rem;">
                <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7FQWNlzjz_pbg_4IPlc0OA_rfxwA1lZS33g&usqp=CAU" alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title">Anuj Sarkar</h1>
                    <p class="card-text">His journey started in 2007 when he completed his specialization in Hospitality and Hotel Management from IHM Guwahati. He is now carrying out his services to executive chefs in Turkey as a head chef. </p>
                    <a href="https://www.linkedin.com/in/anuj-sarkar-148927a5/" class="btn btn-primary">More Details</a>
                </div>
            </div>
        </div>

    </div>
</section>

</body>
</html>