<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Online Food Ordering System</title>
</head>
<body>

<section >


        <div class="d-flex gap-5 justify-content-center">
            <div>
                <img th:src="@{/images/it18053.jpg}" height="300" width="270"  alt="None">
                <h2 >Md.Al Amin</h2>
                <b>Student ICT, MBSTU </b><br>
                <b>Java Developer</b>
                <div class="">
                    <ul>
                        <li><a href="https://www.facebook.com/profile.php?id=100024167198787" target="_blank"><b>Facebook</b></a></li>
                        <li><a href="https://www.linkedin.com/in/al-amin53/"
                               target="_blank"><b>LinkedIn</b></a></li>
                        <li><a href="https://github.com/it-al-amin" target="_blank"><b>Github</b></a></li>
                    </ul>
                </div>
            </div>
           <div>
               <div>
                   <img th:src="@{/images/shariful.jpg}" height="300" width="270" alt="None">
                   <h2>Md.Shariful Islam</h2>
                   <b>Student ICT, MBSTU </b><br>
                   <b>Java Developer</b>
               </div>
               <div>
                   <ul>
                       <li><a href="https://www.facebook.com/profile.php?id=100024167198787" target="_blank"><b>Facebook</b></a></li>
                       <li><a href="https://www.linkedin.com/in/al-amin53/"
                              target="_blank"><b>LinkedIn</b></a></li>
                       <li><a href="https://github.com/it-al-amin" target="_blank"><b>Github</b></a></li>
                   </ul>
               </div>
           </div>


    </div>

</section>

</body>
</html>