<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Online Food Ordering System</title>
</head>
<body>

<section>
    <div class="container">

        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center"> Authority Login </h1>
                <div>
                    <p th:text="${message}" style="color: #318043; text-align: center"></p>
                </div>
                <div class="card-body">

                    <!--blood donor form started....-->
                    <form th:action="@{/auth/login}" method="post"
                          onsubmit="return authorityFormValidator()">

                        <div th:if="${param.error}" class="alert alert-danger">
                            Invalid username and password!!
                        </div>

                        <div th:if="${param.logout}" class="alert alert-success">
                            You have been logged out successfully...
                        </div>

                        <!--authority email div....-->
                        <div class="mb-3">
                            <label for="email" class="form-label">Authority Email</label>
                            <input
                                    type="email"
                                    id="email"
                                    name="username"
                                    required="required"
                                    class="form-control"
                                    aria-describedby="validationServer03FeedbackStudentId"
                            >
                            <span id="idMessage" style="color: red"></span>
                        </div>

                        <!--authority password div....-->
                        <div class="mb-3">
                            <label for="authorityPassword" class="form-label">Authority Password</label>
                            <input
                                    type="password"
                                    id="authorityPassword"
                                    name="password"
                                    class="form-control"
                                    aria-describedby="validationServer03FeedbackAuthorityConfirmPassword"
                            >
                            <span id="passwordMessage" style="color: red"></span>
                        </div>

                        <div class="mb-3 form-check">
                            <a th:href="@{/forget/password}">Forgot password</a>
                        </div>
                        <!--student reset & submit div....-->
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-success">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>